{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-text-size-adjust: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    margin:0px;
    padding:0px;
}
header {
    background-color: #5473ff;
    text-align: center;
    
    margin: 0px;
    display: block;
/*    line-height: 88px;*/
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    

}
img {
    object-fit: contain;
}
#previmg {
    float: left;
/*    margin-top: 21px;*/
/*    margin-bottom: 21px;*/
/*    margin-left: 30px;*/
}

/* ---- 3 */
/*@media screen and (max-width : 479px) { */
/*@media screen and (max-width : 767px)*/
/*@media screen and (min-width : 320px)*/
/*header {*/
/*    height: 44px;*/
/*    background-size: 98px 23px*/
/*}*/
/*#previmg {*/
/*    width: 11px;*/
/*    height: 22px;*/
/*    margin-left:15px;*/
/*    margin-top:11px;*/
/*    margin-bottom:11px;*/
/*}*/
/*}*/
/* ---- 2 */
@media screen and (max-width:767px) {
    header {
        line-height: 66px;
    }
    #previmg {
        width: 17px;
        height: 33px;
        margin-left:23px;
        margin-top:17px;
        margin-bottom:17px;
    }
}
/* ---- 3 */
@media screen and (max-width : 479px) { 
header {
    line-height: 44px;
}
#previmg {
    width: 11px;
    height: 22px;
    margin-left:15px;
    margin-top:11px;
    margin-bottom:11px;
}
}
/* ----  1 ipad 안드로이드, 아이폰은 따로 가야겠다. 글씨만 3x 로 가고 있으니까. 어떻게??? */
@media screen and (min-width:768px) and (max-width:1024px) {
    header {
        line-height: 88px;
        font-size: 27px;

    }
    #previmg {
        width: 22px;
        height: 44px;
        margin-left:30px;
        margin-top:22px;
        margin-bottom:22px;
    }
}
